
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}
body {
    margin: 0 auto;
    background: #024221;
}

#header {
    /* background-color: yellow; */
    /* border: solid; */
    height: 30%;
    text-align: center;

}
#body {
    /* background-color: brown; */
    height: 33%;
    /* border: solid; */
    text-align: center;
}
#footer {
    /* background-color: aquamarine; */
    /* border: solid; */
    height: 33%;
    font-size: 60px;
    text-align: center;
}
